.product-order-container {
    display: grid;
    grid-template-columns: 4fr 1fr;

}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 10px;
}

.order-container {
    background-color: rgba(255, 153, 0, 0.30);

}