.cart-name {
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.cart-container {
    position: sticky;
    top: 0;
}

.cart-container p {
    margin-left: 10px;
}

.cart-container h6 {
    font-size: 21px;
}