.small-product-container img {
    width: 286px;
    height: 286px;
    /* margin-bottom: 0; */
    margin: 8px, 7px;
    padding-left: 9px;

}

.small-product-container {
    height: 510px;
    width: 300px;
    border-radius: 8px;
    border: 1px solid #95A0A7;

    position: relative;
}

.product-name {
    font-family: Lato;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 4px;
}

.product-price {
    margin-top: 11px;
    font-family: Lato;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 47px;
}

.btn-cart {
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid #95A0A7;
    background: #FFE0B3;
    height: 48px;
}

.btn-cart:hover {
    background-color: orange;
}



.product-info {
    padding-left: 9px;
}